In [1]:
import os
import pandas as pd

# csv.gz 파일을 chunk 단위로 읽어옵니다.
def split_read(path, chunksize=100000, condition="") :
    #chunksize = 100000  # 원하는 chunk 사이즈를 설정합니다.
    #condition = '특정열 == "조건"'  # 필터링할 조건을 설정합니다.
    filtered_df = pd.DataFrame() 
    for chunk in pd.read_csv(path, compression='gzip', chunksize=chunksize):
        # 조건에 맞는 행들만 선택하여 필터링합니다.
        if condition == "":
            filtered_df = pd.concat([filtered_df, chunk], ignore_index=True)
        else :
            filtered_chunk = chunk.query(condition)
            filtered_df = pd.concat([filtered_df, filtered_chunk], ignore_index=True)
        # 필터링된 chunk를 처리합니다.
        # 예를 들어, 이 부분에 필터링된 chunk를 다른 데이터프레임에 추가하거나
        # 원하는 작업을 수행할 수 있습니다.
    return filtered_df

# 현재 노트북 파일의 디렉토리를 가져옵니다.
current_directory = os.getcwd()
relative_folder_path = "../2.2/"

base_df = split_read(os.path.join(current_directory, relative_folder_path, "icu/icustays.csv.gz"))

condition = 'subject_id in ['
for i in list(base_df['subject_id'].unique()[:1000]) :
    condition += str(i)
    condition += ', '
condition += ']'


admissions_df = split_read(os.path.join(current_directory, relative_folder_path, "hosp/admissions.csv.gz"), condition = condition)
patients_df = split_read(os.path.join(current_directory, relative_folder_path, "hosp/patients.csv.gz"), condition = condition)
omr_df = split_read(os.path.join(current_directory, relative_folder_path, "hosp/omr.csv.gz"), condition = condition)
omr_df = omr_df.drop_duplicates(subset=['subject_id','chartdate', 'result_name'], keep='last')


diagnois_df = split_read(os.path.join(current_directory, relative_folder_path, "hosp/diagnoses_icd.csv.gz"), condition = condition)
d_diagnois_df = split_read(os.path.join(current_directory, relative_folder_path, "hosp/d_icd_diagnoses.csv.gz"))
diagnois_df = pd.merge(diagnois_df, d_diagnois_df, on = ['icd_code', 'icd_version'], how = 'left')

transfers_df = split_read(os.path.join(current_directory, relative_folder_path, "hosp/transfers.csv.gz"), condition = condition)

icust_df = split_read(os.path.join(current_directory, relative_folder_path, "icu/icustays.csv.gz"), condition = condition)
datetimeevents_df = split_read(os.path.join(current_directory, relative_folder_path, "icu/datetimeevents.csv.gz"), condition = condition)
d_items_df = split_read(os.path.join(current_directory, relative_folder_path, "icu/d_items.csv.gz")) 
datetimeevents_df = pd.merge(datetimeevents_df, d_items_df, on = 'itemid', how = 'left')

procedureevents_df = split_read(os.path.join(current_directory, relative_folder_path, "icu/procedureevents.csv.gz"), condition = condition)
chartevents_df = pd.read_csv(os.path.join(current_directory, relative_folder_path, "icu/chartevents.csv.gz"), compression='gzip', nrows=1000000)
chartevents_df = chartevents_df[chartevents_df['subject_id'].isin(base_df['subject_id'].unique()[:1000])]
chartevents_df = pd.merge(chartevents_df, d_items_df, on = 'itemid', how = 'left')
chartevents_df = chartevents_df.sort_values('charttime')

In [35]:
accum_json = {}
for subject_id in [int(i) for i in patients_df['subject_id'].unique()] :
    accum_json[subject_id] = {}
    accum_json[subject_id]['status'] = {}
    t_patient = patients_df.loc[patients_df['subject_id']==subject_id]
    accum_json[subject_id]['status']['gender'] = t_patient['gender'].iloc[0]
    accum_json[subject_id]['status']['age'] = int(t_patient['anchor_age'].iloc[0])
    accum_json[subject_id]['hadm_id'] = {}
    for hadm_id in [int(j) for j in admissions_df.loc[admissions_df['subject_id']==subject_id]['hadm_id'].unique()] :
        accum_json[subject_id]['hadm_id'][hadm_id] = {}

        #######################환자 기본 상태 관련
        #####Admission 당시 정보 모음
        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info'] = {}
        if chartevents_df.loc[(chartevents_df['subject_id']==subject_id) & (chartevents_df['hadm_id']==hadm_id)].sort_values("charttime").empty :
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['is_icu'] = 'N'
        else :
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['is_icu'] = 'Y'
        t_admission = admissions_df.loc[(admissions_df['subject_id']==subject_id) & (admissions_df['hadm_id']==hadm_id)]
        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['admittime'] = t_admission['admittime'].iloc[0]
        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['dischtime'] = t_admission['dischtime'].iloc[0]

        t_omr = omr_df.loc[(omr_df['subject_id']==subject_id) & (omr_df['chartdate'] <= accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['dischtime'][:10])]
        if len(t_omr) == 0 :
            t_omr = omr_df.loc[(omr_df['subject_id']==subject_id)]
        
        try :
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['bp'] = t_omr.loc[t_omr['result_name']=='Blood Pressure'].tail(1)['result_value'].iloc[0]
        except : 
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['bp'] = ' '

        try :
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['weight'] = t_omr.loc[t_omr['result_name']=='Weight (Lbs)'].tail(1)['result_value'].iloc[0]
        except : 
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['weight'] = ' '

        try :
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['bmi'] = t_omr.loc[t_omr['result_name']=='BMI (kg/m2)'].tail(1)['result_value'].iloc[0]
        except : 
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['bmi'] = ' '

        try :
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['height'] = t_omr.loc[t_omr['result_name']=='Height (Inches)'].tail(1)['result_value'].iloc[0]
        except : 
            accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['height'] = ' '


        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['insurance'] = t_admission['insurance'].iloc[0]
        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['language'] = t_admission['language'].iloc[0]
        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['marital_status'] = t_admission['marital_status'].iloc[0]
        accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['race'] = t_admission['race'].iloc[0]

        ######진단 관련 정보
        accum_json[subject_id]['hadm_id'][hadm_id]['diagnosis'] = {}
        t_diagnosis = diagnois_df.loc[(diagnois_df['subject_id']==subject_id) & (diagnois_df['hadm_id']==hadm_id)]
        accum_json[subject_id]['hadm_id'][hadm_id]['diagnosis']['total_len'] = len(t_diagnosis)
        accum_json[subject_id]['hadm_id'][hadm_id]['diagnosis']['titles'] = []
        for it, row in t_diagnosis.iterrows() :
            accum_json[subject_id]['hadm_id'][hadm_id]['diagnosis']['titles'].append(row['long_title'])
        
        #########################ICU
        if accum_json[subject_id]['hadm_id'][hadm_id]['admin_info']['is_icu'] == 'Y' :
            t_icustay = icust_df[(icust_df['subject_id']==subject_id) & (icust_df['hadm_id']==hadm_id)]
            accum_json[subject_id]['hadm_id'][hadm_id]['icu_stay'] = {}
            accum_json[subject_id]['hadm_id'][hadm_id]['icu_stay']['los'] = t_icustay['los'].iloc[0]
            ######Vital Signs
            t_chartevent = chartevents_df.loc[(chartevents_df['subject_id']==subject_id) & (chartevents_df['hadm_id']==hadm_id)].sort_values("charttime")
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals'] = {}

            ###맥박 bpm
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['hr'] = []
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['hr_time'] = []
            t_vt = t_chartevent.loc[t_chartevent['itemid']==220045]
            for it, row in t_vt.iterrows() :
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['hr'].append(row['valuenum'])
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['hr_time'].append(row['charttime'])

            ###수축기 혈압 mmHg
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['sbp'] = []
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['sbp_time'] = []
            t_vt = t_chartevent.loc[t_chartevent['itemid']==220179]
            for it, row in t_vt.iterrows() :
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['sbp'].append(row['valuenum'])
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['sbp_time'].append(row['charttime'])

            ###이완기 혈압 mmHg
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['dbp'] = []
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['dbp_time'] = []
            t_vt = t_chartevent.loc[t_chartevent['itemid']==220180]
            for it, row in t_vt.iterrows() :
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['dbp'].append(row['valuenum'])
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['dbp_time'].append(row['charttime'])

            ###호흡 insp/min
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['rp'] = []
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['rp_time'] = []
            t_vt = t_chartevent.loc[t_chartevent['itemid']==220210]
            for it, row in t_vt.iterrows() :
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['rp'].append(row['valuenum'])
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['rp_time'].append(row['charttime'])

            ###산소 포화도 %
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['os'] = []
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['os_time'] = []
            t_vt = t_chartevent.loc[t_chartevent['itemid']==220277]
            for it, row in t_vt.iterrows() :
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['os'].append(row['valuenum'])
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['os_time'].append(row['charttime'])

            ###체온 섭씨
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['temp'] = []
            accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['temp_time'] = []
            t_vt = t_chartevent.loc[t_chartevent['itemid']==223761]
            for it, row in t_vt.iterrows() :
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['temp'].append(round((row['valuenum'] - 32) * 5/9, 2))
                accum_json[subject_id]['hadm_id'][hadm_id]['vitals']['temp_time'].append(row['charttime'])


            ######최근 근무자
            t_caregivers = t_chartevent.loc[t_chartevent['caregiver_id'].notna()]
            t_caregivers = t_caregivers.sort_values(["storetime", "charttime"])
            t_caregivers['next_caregiver'] = t_caregivers['caregiver_id'].shift(1, fill_value=0)
            t_caregivers = t_caregivers.loc[(t_caregivers['caregiver_id']!=t_caregivers['next_caregiver'])]
            accum_json[subject_id]['hadm_id'][hadm_id]['cargivers'] = []
            for it, row in t_caregivers.iterrows() :
                new_giver = {}
                new_giver['caregiver_id'] = row['caregiver_id']
                new_giver['chartstart'] = row['charttime']
                accum_json[subject_id]['hadm_id'][hadm_id]['cargivers'].append(new_giver)

        #####################################################
            #########일정 관련
            t_schedule = t_chartevent.drop_duplicates(subset= ["caregiver_id", "charttime", "category"])[['caregiver_id', 'charttime', 'category', 'label']]
            t_schedule = t_schedule.loc[t_schedule['caregiver_id'].notna()]
            #t_schedule['charttime'] = pd.to_datetime(t_schedule['charttime'])
            accum_json[subject_id]['hadm_id'][hadm_id]['schedule'] = []
            for it, row in t_schedule.iterrows() :
                if row['category'] == "Treatments" or row['category'] == "Care Plans" : 
                    new_schedule = {}
                    new_schedule['caregiver_id'] = row['caregiver_id']
                    new_schedule['charttime'] = row['charttime']
                    new_schedule['category'] = row['category'] 
                    new_schedule['label'] = row['label']
                    accum_json[subject_id]['hadm_id'][hadm_id]['schedule'].append(new_schedule)

            ######

In [27]:
t_caregivers = t_chartevent.loc[t_chartevent['caregiver_id'].notna()]
t_caregivers = t_caregivers.loc[t_caregivers['category']=="Treatments"]
t_caregivers = t_caregivers.sort_values(["storetime", "charttime"])
t_caregivers['caregiver_id'].unique()

array([19347., 14234.])

In [34]:
t_schedule.loc[(t_schedule['category']=="Treatments") | (t_schedule['category']=="Care Plans")]

,caregiver_id,charttime,category,label
999884,19347.0,2201-11-08 20:36:00,Treatments,Position
999908,19347.0,2201-11-08 20:37:00,Treatments,Oral Care
999287,14234.0,2201-11-10 08:00:00,Treatments,Anti Embolic Device Status
999476,14234.0,2201-11-10 11:00:00,Treatments,Head of Bed
999516,14234.0,2201-11-10 13:00:00,Treatments,Cough/Deep Breath
999518,14234.0,2201-11-10 13:31:00,Treatments,Head of Bed
999532,14234.0,2201-11-10 14:00:00,Treatments,Cough/Deep Breath
999587,14234.0,2201-11-10 14:27:00,Treatments,Therapeutic Bed
999604,14234.0,2201-11-10 14:28:00,Treatments,Oral Care
999642,14234.0,2201-11-10 16:00:00,Treatments,Oral Care
999663,14234.0,2201-11-10 16:40:00,Treatments,Activity
999692,14234.0,2201-11-10 16:54:00,Treatments,Anti Embolic Device Status
999753,14234.0,2201-11-10 18:56:00,Treatments,Assistance

In [36]:
import json

# JSON 파일을 불러와서 사전으로 변환
with open('icu_data.json', 'w') as json_file:
    json.dump(accum_json, json_file, indent=4)

In [24]:
t_caregivers

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,...,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue,next_caregiver,next_charttime
999884,10027602,28166872,32391858,19347.0,2201-11-08 20:36:00,2201-11-08 20:36:00,224093,Left Side,NaN,NaN,...,Position,Position,chartevents,Treatments,NaN,Text,NaN,NaN,0.0,2201-11-10 08:00:00
999287,10027602,28166872,32391858,14234.0,2201-11-10 08:00:00,2201-11-10 08:00:00,225054,On,NaN,NaN,...,Anti Embolic Device Status,Anti Embolic Device Status,chartevents,Treatments,NaN,Text,NaN,NaN,19347.0,0

In [29]:
admissions_df.loc[admissions_df['subject_id']==10001217]

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
11,10001217,24597018,2157-11-18 22:56:00,2157-11-25 18:00:00,NaN,EW EMER.,P4645A,EMERGENCY ROOM,HOME HEALTH CARE,Other,?,MARRIED,WHITE,2157-11-18 17:38:00,2157-11-19 01:24:00,0
12,10001217,27703517,2157-12-18 16:58:00,2157-12-24 14:55:00,NaN,DIRECT EMER.,P99698,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,?,MARRIED,WHITE,NaN,NaN,0

In [46]:
omr_df.loc[admissions_df['subject_id']==10001217]

Empty DataFrame
Columns: [subject_id, hadm_id, stay_id, caregiver_id, charttime, storetime, itemid, value, valuenum, valueuom, warning, label, abbreviation, linksto, category, unitname, param_type, lownormalvalue, highnormalvalue]
Index: []

In [83]:
with open('./icu_data.json', 'r') as json_file:
    accum_json = json.load(json_file)

In [88]:
accum_json[int('10000032')]

KeyError: 10000032

In [92]:
accum_json.keys()

dict_keys(['10000032', '10000980', '10001217', '10001725', '10001884', '10002013', '10002155', '10002348', '10002428', '10002430', '10002443', '10002495', '10002760', '10002930', '10003019', '10003046', '10003400', '10003502', '10004113', '10004235', '10004401', '10004422', '10004457', '10004606', '10004720', '10004733', '10004764', '10005123', '10005348', '10005606', '10005817', '10005866', '10005909', '10006053', '10006131', '10006277', '10006580', '10006821', '10007058', '10007795', '10007818', '10007920', '10007928', '10008077', '10008100', '10008287', '10008454', '10008924', '10009035', '10009049', '10009628', '10009686', '10010058', '10010471', '10010867', '10011189', '10011365', '10011398', '10011427', '10011668', '10011938', '10012055', '10012206', '10012292', '10012438', '10012476', '10012552', '10012853', '10013015', '10013049', '10013310', '10013419', '10013569', '10013643', '10014078', '10014136', '10014179', '10014354', '10014610', '10014729', '10015272', '10015834', '10015860', '10015931', '10016150', '10016742', '10016810', '10016859', '10017285', '10017308', '10017437', '10017492', '10017531', '10017679', '10017851', '10018081', '10018328', '10018423', '10018501', '10018845', '10018862', '10018928', '10019003', '10019172', '10019350', '10019385', '10019568', '10019607', '10019777', '10019917', '10019957', '10019992', '10020187', '10020306', '10020640', '10020740', '10020786', '10020852', '10020944', '10021118', '10021179', '10021312', '10021487', '10021666', '10021927', '10021938', '10022017', '10022041', '10022281', '10022429', '10022584', '10022620', '10022862', '10022880', '10023117', '10023239', '10023404', '10023486', '10023708', '10023771', '10023994', '10024043', '10024331', '10024913', '10024982', '10025463', '10025612', '10025647', '10026161', '10026255', '10026354', '10026406', '10026868', '10027445', '10027602', '10027704', '10027722', '10027730', '10028930', '10029057', '10029074', '10029224', '10029291', '10029484', '10029514', '10029874', '10030163', '10030579', '10030682', '10030746', '10030753', '10031316', '10031358', '10031404', '10031757', '10032176', '10032381', '10032409', '10032725', '10033786', '10034031', '10034317', '10034553', '10035168', '10035185', '10035631', '10035747', '10035787', '10035817', '10036086', '10036156', '10037483', '10037542', '10037861', '10037928', '10037975', '10038081', '10038119', '10038332', '10038688', '10038852', '10038933', '10038992', '10038999', '10039396', '10039688', '10039708', '10039831', '10039997', '10040025', '10040721', '10040952', '10040984', '10041127', '10041599', '10041668', '10041690', '10041790', '10041894', '10042377', '10042769', '10043122', '10044916', '10045670', '10045785', '10045929', '10045960', '10046166', '10046234', '10046436', '10046679', '10046724', '10047172', '10047484', '10047587', '10047599', '10047682', '10047766', '10047824', '10047994', '10048001', '10048105', '10048244', '10048262', '10048723', '10048899', '10048962', '10049041', '10049334', '10049642', '10049746', '10049833', '10049941', '10050445', '10050755', '10051043', '10051074', '10051872', '10051990', '10052181', '10052938', '10053207', '10053782', '10053810', '10053854', '10054208', '10054277', '10054464', '10054716', '10055235', '10055344', '10055361', '10055694', '10055729', '10055828', '10055939', '10056037', '10056200', '10056223', '10056841', '10057070', '10057218', '10057482', '10057731', '10058437', '10058575', '10058868', '10058974', '10059217', '10059406', '10059952', '10060142', '10060531', '10061303', '10061633', '10062020', '10062522', '10062597', '10062617', '10063488', '10063534', '10063848', '10063856', '10063991', '10064049', '10064390', '10064636', '10064854', '10065024', '10065103', '10065354', '10065361', '10065530', '10065767', '10066209', '10066489', '10066894', '10067059', '10067195', '10067389', '10067480', '10067573', '10067921', '10068304', '10069423', '10069864', '10069992', '10070201', '10070311', '10070614', '10070626', '10070928', '10070932', '10071167', '10071302', '10071332', '10071435', '10071611', '10071869', '10072153', '10072239', '10073239', '10073847', '10074323', '10074474', '10074556', '10074611', '10074869', '10074908', '10075035', '10075506', '10075900', '10075925', '10075960', '10076061', '10076263', '10076342', '10076492', '10076506', '10076526', '10076543', '10076958', '10077305', '10077376', '10077499', '10077619', '10078008', '10078072', '10078115', '10078297', '10078309', '10078723', '10078805', '10078933', '10079545', '10079700', '10080695', '10080928', '10080961', '10081273', '10081525', '10081559', '10081794', '10081828', '10081883', '10082014', '10082543', '10082560', '10082662', '10082986', '10083062', '10083072', '10083101', '10083424', '10083576', '10083814', '10084069', '10084262', '10084454', '10084586', '10085120', '10085667', '10085784', '10086022', '10086182', '10086611', '10087025', '10087623', '10087943', '10088198', '10088776', '10088914', '10088966', '10089085', '10089119', '10089244', '10089618', '10090451', '10090454', '10090828', '10091141', '10091327', '10091724', '10091871', '10092020', '10092171', '10092175', '10092227', '10092572', '10093120', '10093425', '10093718', '10093791', '10094629', '10094679', '10094805', '10094811', '10094971', '10095570', '10095655', '10095681', '10095746', '10096046', '10096079', '10096175', '10096380', '10096391', '10096420', '10096969', '10097232', '10097563', '10097612', '10097659', '10097898', '10098215', '10098428', '10098627', '10098875', '10098993', '10099032', '10099269', '10099480', '10099497', '10099592', '10099869', '10100037', '10100435', '10100976', '10101070', '10101116', '10101170', '10101360', '10102822', '10102878', '10103224', '10103457', '10103536', '10103748', '10103763', '10103795', '10104012', '10104229', '10104289', '10104308', '10104335', '10104450', '10104549', '10104674', '10104678', '10104730', '10104732', '10105456', '10105605', '10106165', '10106244', '10106899', '10107044', '10107132', '10107262', '10107317', '10107664', '10107943', '10108233', '10108433', '10108435', '10108868', '10109015', '10109085', '10109197', '10109526', '10109613', '10109639', '10109826', '10109956', '10110107', '10110133', '10110363', '10110764', '10110843', '10110863', '10110948', '10111075', '10111112', '10111136', '10111636', '10112163', '10112484', '10112789', '10112880', '10112984', '10113381', '10113512', '10113636', '10113751', '10113898', '10114694', '10114841', '10114932', '10114939', '10115024', '10115044', '10115397', '10115631', '10115812', '10116621', '10116659', '10116905', '10117130', '10117230', '10117273', '10117734', '10117812', '10118141', '10118315', '10119001', '10119017', '10119872', '10119910', '10119916', '10119992', '10120109', '10120330', '10120959', '10121059', '10121352', '10121453', '10121579', '10121738', '10122182', '10122297', '10122346', '10122371', '10122392', '10122589', '10122772', '10123036', '10123063', '10123231', '10123699', '10123949', '10124367', '10124428', '10124807', '10124825', '10124966', '10125047', '10125078', '10125241', '10125859', '10125865', '10125876', '10125966', '10126201', '10126740', '10126957', '10127132', '10127185', '10127408', '10127469', '10127480', '10127517', '10127627', '10127936', '10128085', '10128689', '10128902', '10128988', '10129052', '10129119', '10129254', '10129284', '10129722', '10130111', '10130573', '10130585', '10130937', '10130966', '10131080', '10131457', '10131638', '10131647', '10131707', '10131753', '10131771', '10132136', '10132217', '10132611', '10132888', '10133363', '10133367', '10133599', '10133608', '10134205', '10134321', '10134367', '10134625', '10135345', '10135376', '10135398', '10135557', '10135595', '10135647', '10135720', '10136479', '10136619', '10136781', '10136978', '10137046', '10137419', '10137553', '10137806', '10137856', '10138124', '10138206', '10138989', '10139117', '10139183', '10139228', '10139314', '10139387', '10139461', '10139992', '10140907', '10141035', '10141173', '10141229', '10141243', '10141364', '10141487', '10141524', '10141577', '10141911', '10142197', '10142207', '10142412', '10142447', '10142844', '10142845', '10143015', '10143030', '10143305', '10144089', '10144093', '10144145', '10144378', '10144424', '10144569', '10145269', '10145374', '10145423', '10145540', '10145959', '10146570', '10146602', '10146603', '10146735', '10146782', '10146991', '10147087', '10147182', '10147619', '10148115', '10148126', '10148145', '10148417', '10148533', '10148710', '10148939', '10149067', '10149179', '10149722', '10149929', '10149959', '10149976', '10150056', '10150136', '10150167', '10150335', '10150423', '10150503', '10150567', '10150812', '10150911', '10150912', '10151137', '10151556', '10151736', '10151766', '10152017', '10152086', '10152121', '10152132', '10152275', '10152300', '10152414', '10152525', '10152950', '10153420', '10153439', '10153680', '10153922', '10154271', '10154303', '10154479', '10154719', '10155510', '10155734', '10155871', '10155915', '10156119', '10156269', '10156272', '10156395', '10156486', '10156618', '10156659', '10157146', '10157256', '10157331', '10157454', '10157542', '10157718', '10158799', '10158991', '10159535', '10160202', '10160477', '10160622', '10160781', '10161042', '10161112', '10161185', '10161682', '10161722', '10161889', '10162760', '10163041', '10163389', '10163605', '10163709', '10163823', '10163947', '10164170', '10164309', '10164613', '10164665', '10165018', '10165522', '10165555', '10165875', '10165930', '10165963', '10166031', '10166356', '10167090', '10167212', '10167691', '10167784', '10168562', '10168636', '10168648', '10168722', '10168921', '10168968', '10169328', '10169726', '10169796', '10170022', '10170435', '10170562', '10170670', '10170980', '10171038', '10171247', '10171405', '10171525', '10171587', '10171967', '10172118', '10172206', '10172333', '10172391', '10172475', '10172626', '10172995', '10173172', '10173420', '10173670', '10173815', '10173928', '10174086', '10174273', '10174744', '10174759', '10174787', '10174859', '10174935', '10175097', '10175143', '10175711', '10175944', '10176045', '10176087', '10176359', '10176453', '10176458', '10176494', '10176741', '10176936', '10177152', '10177209', '10177348', '10177765', '10178145', '10178472', '10178581', '10178645', '10178818', '10179383', '10179495', '10179842', '10180042', '10180095', '10180134', '10180139', '10180204', '10180407', '10180505', '10180639', '10180652', '10180681', '10181426', '10181514', '10181673', '10182092', '10182211', '10182648', '10182949', '10183019', '10183302', '10183369', '10183375', '10183410', '10183638', '10183775', '10184003', '10184327', '10184600', '10184623', '10185222', '10185295', '10185405', '10185435', '10185829', '10186442', '10186447', '10186451', '10186453', '10186500', '10186925', '10187075', '10187092', '10187135', '10187271', '10187324', '10187866', '10187935', '10187951', '10188275', '10188428', '10188935', '10189149', '10189427', '10189736', '10190006', '10190130', '10190445', '10190973', '10191404', '10191971', '10192358', '10192402', '10192651', '10192748', '10192830', '10192984', '10193065', '10193074', '10193237', '10193372', '10193428', '10194204', '10194423', '10194609', '10194776', '10194974', '10195086', '10195266', '10195979', '10196073', '10196086', '10196360', '10196368', '10196638', '10196650', '10196711', '10196757', '10197095', '10197137', '10197435', '10197727', '10197749', '10197902', '10198086', '10198197', '10198270', '10198310', '10198809', '10198913', '10198921', '10199297', '10199363', '10199399', '10199438', '10199560', '10199711', '10199765', '10199945', '10200048', '10200129', '10200310', '10200375', '10200966', '10201160', '10201548', '10201643', '10201891', '10202010', '10202236', '10202394', '10202461', '10202505', '10202529', '10202580', '10203225', '10203444', '10203665', '10203987', '10203995', '10204259', '10204455', '10204466', '10204558', '10204648', '10204703', '10204908', '10205143', '10205191', '10205294', '10205295'])